body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-style: normal;
    margin: 0;
}

#container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    gap: 30px;
    align-items: center;
    text-align: center;
    margin: 150px auto;

}

.movie-container {
    /* border: 10px solid green; */
    display: flex;
    flex-direction: row-reverse;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.movie-div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding: 30px;
    text-align: initial;
}


.img-class {
    /* border: 1px solid purple; */
    max-width: 300px;
    padding: 60px 30px;
    margin-left: 30px;

}



